<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/todo.css}">

</head>
<body>


<div class="container">

    <br>
        <div class="jumbotron">
            <nav class="navbar navbar-expand-sm bg-primary navbar-blue">
                <a class="navbar-brand" href="#">To do List</a>
            </nav>
        <p>
            <a href="/add">
                <span class="glyphicon glyphicon-plus"></span> Add List</a>
        </p>

<table>
    <tr>
       <th>Name</th>
        <th>Description</th>
        <th>DueDate</th>
<!--        <th>Priority</th>-->
<!--        <th>Completed</th>-->
        <th>Action</th>
    </tr>
<tr th:each="todo:${todos}">
<!--    <h4 th:inline="text"> [[${todo.id}]] </h4>-->
   <td th:text="${todo.Task_Name}" ></td>
    <td th:text="${todo.description}"></td>
   <td th:text="${todo.duedate}" ></td>
<!--   <td th:text="${todo.priority}"></td>-->
<!--     <td th:text="${todo.is_completed}"></td>-->
    <td>
        <a th:href="@{/update/{id}(id=${todo.id})}"><span class="glyphicon glyphicon-edit"></span></a>
     <a th:href="@{/detail/{id}(id=${todo.id})}"><span class="glyphicon glyphicon-folder-open"></span></a>
        <a th:href="@{/delete/{id}(id=${todo.id})}"> <span class="glyphicon glyphicon-trash"></span></a>
    </td>
</tr>

</table>
</div>
</div>
</div>
</body>
</html>
