<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/process}"
      th:object="${toDo}"
      method="post">
    ID: <input type="hidden" th:field="*{id}"/>
    <span th:if="${#fields.hasErrors('id')}"
          th:errors="*{id}"></span> <br />

    Task Name: <input type="text" th:field="*{Task_Name}"/>
    <span th:if="${#fields.hasErrors('Task_Name')}"
          th:errors="*{Task_Name}"></span> <br />

    Due Date: <input type="text" th:field="*{duedate}"/>
    <span th:if="${#fields.hasErrors('duedate')}"
          th:errors="*{duedate}"></span> <br />

    Priority: <input type="text" th:field="*{priority}"/>
    <span th:if="${#fields.hasErrors('priority')}"
          th:errors="*{priority}"></span> <br />
    Description:<input type="text" th:field="*{description}"/>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br>
    Is Completed: <input type="text" th:field="*{is_completed}">
    <span th:if="${#fields.hasErrors('is_completed')}"
          th:errors="*{is_completed}"></span>

    <input type="submit" value="Submit" />
</form>
</body>
</html>